<launch>
  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find pi_speech_tutorial)/config/simple_commands.lm"/>
    <param name="dict" value="$(find pi_speech_tutorial)/config/simple_commands.dic"/>
  </node>

 <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
 <arg name="battery"    default="$(optenv TURTLEBOT_BATTERY /sys/class/power_supply/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 in 2.6 or earlier
           kernels-->
 <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
 <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
 <arg name="simulation" default="$(optenv TURTLEBOT_SIMULATION false)"/>

 <param name="/use_sim_time" value="$(arg simulation)"/>
                 
 <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
   <arg name="base" value="$(arg base)" />
   <arg name="stacks" value="$(arg stacks)" />
   <arg name="3d_sensor" value="$(arg 3d_sensor)" />
 </include>
 
 <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
     <arg name="base" value="$(arg base)" />
 </include>

 <include file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
      <arg name="battery" value="$(arg battery)" />
 </include>

  <node name="simple_nav" pkg="pi_speech_tutorial" type="simple_nav.py" output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
  	<param name="max_speed" value="0.3"/>
  	<param name="start_speed" value="0.1"/>
  	<param name="linear_increment" value="0.05"/>
  	<param name="angular_increment" value="0.4"/>
  </node>

</launch>
